.head{
    font-size: 8px;
    font-weight: 500;
    color:  #4C4C4C;
    ;
}
.table{
    width: 232px;
    vertical-align: bottom;
}
.f{
    font-size: 10px;
    font-weight: 400;
    color:  #9c9c9c;
    ;
    
    
}
.s{
    color:  #707070;
    font-size: 12px;
    font-weight: 500;
    margin-top: 30px;
}